*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#232f3e ;
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

/*
Cores:

Cinza escuro #232f3e
Cinza Claro #2d353f
Laranja #ff9900
Azul #146eb4
Branco #ffffff
*/

header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.LogoSite{
    width: 350px;
    align-self: center;
    margin: 15px;
}

nav{
    background-color: #2d353f;

    position: sticky;
    width: 90%;
    height: 50px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.opcaoMenuNav{
    margin: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 100px;
    padding-left: 100px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.opcaoMenuNav:hover{
    transition: 0.2s;
    border-bottom: 2px solid #ff9900;   
    scale: 105%;
}

@media screen and (max-width:768px){
    
    nav{
        position: relative;
        flex-wrap: wrap;
        justify-content: center;

        height: 250px;
    }
    
}
